:root{
    --width-rows: 100%;
    --max-width: 1920px;
    --padding: 3rem;
    --padding-top: 3rem;
    --padding-bottom: 3rem;
    --padding-left: 3rem;
    --padding-right: 3rem;
}
*,::before,::after,:before,:after{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    box-sizing: border-box;
    outline: none;
}
a:link{
    text-decoration: none;
    cursor: pointer;
}
a:visited{
    text-decoration: none;
    cursor: pointer;
}
a:link:active{
}
a:visited:active{
}
abbr{}
address{
    display: block;
    font-style: italic;
}
area{
    display: none;
}
article{
    display: block;
}
aside{
    display: block;
}
audio{}
b{
    font-weight: bold;
}
base{}
bdi{}
bdo{
    unicode-bidi: bidi-override;
}
blockquote{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body:focus{
    outline: none;
}
br{}
button{}
canvas{}
caption{
    display: table-caption;
    text-align: center;
}
cite{
    font-style: italic;
}
code{
    font-family: monospace;
}
col{
    display: table-column;
}
colgroup{
    display: table-column-group;
}
datalist{
    display: none;
}
dd{
    display: block;
    margin-left: 40px;
}
del{
    text-decoration: line-through;
}
details{
    display: block;
}
dfn{
    font-style: italic;
}
dialog{}
div{
    display: flex;
    flex-direction: column;
}
dl{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}
dt{
    display: block;
}
em{
    font-style: italic;
}
embed:focus{
    outline: none;
}
fieldset{
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px solid groove;
}
figcaption{
    display: block;
}
figure{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}
footer{
    display: flex;
    flex-direction: row;
}
form{
    margin: 0;
    padding: 0;
    display: flex;
}
h1{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 7.2rem;
    font-weight: 500;
}
h2{
    margin: 0;
    padding: 3rem 0rem 3rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4.0rem;
    font-weight: 500;
}
h3{
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h4{
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h5{
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h6{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}
head{
    display: none;
}
header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
html{
    display: block;
}
html:focus{
    outline: none;
}
i{
    font-style: italic;
}
iframe:focus{
    outline: none;
}
iframe[seamless]{
    display: block;
}
img{
    display: inline-block;
}
input{}
ins{
    text-decoration: underline;
}
kbd{
    font-family: monospace;
}
keygen{}
label{
    cursor: default;
}
legend{
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
}
li{
    margin: 0;
    padding: 0;
    width: auto;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
link{
    display: none;
}
main{
    display: flex;
    flex-direction: column;
}
map{
    display: inline;
}
mark{
    background-color: yellow;
    color: black;
}
menu{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: disc;
}
menuitem{}
meta{}
meter{}
nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
noscript{}
object:focus{
    outline: none;
}
ol{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: decimal;
}
optgroup{}
option{}
output{
    display: inline;
}
p{
    margin: 0;
    padding: 0;
    display: flex;
}
param{
    display: none;
}
pre{
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}
progress{}
q{
    display: inline;
}
q::before{
    content: open-quote;
}
q::after{
    content: close-quote;
}
rp{}
rt{
    line-height: normal;
}
ruby{}
s{
    text-decoration: line-through;
}
samp{
    font-family: monospace;
}
script{
    display: none;
}
section{
    display: block;
}
select{}
small{
    font-size: smaller;
}
source{}
span{}
strong{
    font-weight: bold;
}
style{
    display: none;
}
sub{
    vertical-align: sub;
    font-size: smaller;
}
summary{
    display: block;
}
sup{
    vertical-align: super;
    font-size: smaller;
}
table{
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td{
    display: table-cell;
    vertical-align: inherit;
}
textarea{}
tfoot{
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
}
th{
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
}
thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
time{}
title{
    display: none;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
track{}
u{
    text-decoration: underline;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}
var{
    font-style: italic;
}
video{}
wbr{}



/*----- MENU -----*/
.WRAP-MENU{
    width: var(--width-rows);
    height: 8.9rem;
}
.MENU{
    background-color: #339966;
}
.MENU-UL-1{
    width: inherit;
    height: inherit;
    justify-content: flex-end;
    align-items: center;
}
.MENU-UL-2{
    width: auto;
    height: inherit;
}
.MENU-UL-3{
    width: inherit;
    height: inherit;
    justify-content: flex-start;
    align-items: center;
}
.MENU-UL-2-LI{
    width: 8rem;
    height: inherit;
    background-image: url(graph/Asclepius.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    background-position: center;
}
.MENU-UL-1-LI-A,
.MENU-UL-3-LI-A{
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2.1rem;
    color: #fff;
}
.MENU-UL-1-LI-A:hover,
.MENU-UL-3-LI-A:hover{
    color: #beddca;
}
/*----- /MENU -----*/



/*----- HEADER -----*/
.WRAP-HEADER{
    padding: var(--padding);
    width: var(--width-rows);
    max-width: var(--max-width);
    height: auto;
    min-height: 61.0rem;
    background-image: url(graph/%D0%9B%D1%8E%D0%B1%D0%B8%D0%BC%D1%8B%D0%B9%20%D0%9A%D0%BE%D1%82-%20%D0%A1%D0%B5%D0%BD%D1%82%D1%8F%D0%B1%D1%80%D1%8C.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #99CC99;
    z-index: 3;
}
.HEADER-H1-1-STRONG,
.HEADER-H1-2-STRONG{
    font-size: 7.2rem;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    word-break: break-word;
}
.HEADER-P{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: inline-block;
    text-align: center;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    color: #fff;
    word-break: break-word;
}
.HEADER-P-A{
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    text-decoration: underline;
    color: #fff;
}
.HEADER-P-A:hover{
    color: #beddca;
    cursor: pointer;
}
.HEADER-P-A:visited{
    color: #fff;
}
.HEADER-FORM{
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.HEADER-FORM-BUTTON{
    width: 37.7rem;
    height: 5.5rem;
    font-size: 2.2rem;
    color: rgb(255, 255, 255);
    border: 0;
    border-color: transparent;
    background-color: rgb(60, 170, 247);
    cursor: pointer;
}
.HEADER-FORM-BUTTON-P{
    justify-content: center;
    align-items: center;
    line-height: 5.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1rem;
    font-weight: 300;
}
/*----- /HEADER -----*/



/*----- MODE -----*/
.WRAP-MODE{
    padding: var(--padding);
    width: var(--width-rows);
    max-width: var(--max-width);
    height: auto;
    min-height: 37.7rem;
}
.MODE{
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}
.MODE-H2-STRONG{
    font-family: 'Montserrat', sans-serif;
    font-size: 4.0rem;
    font-weight: 500;
    line-height: normal;
    color: #333;
    word-break: break-word;
}
.MODE-DIV{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: auto;
    height: auto;
    display: grid;
    grid-template-areas:
        'Day Open Dinner'
        'Day-Monday Open-Monday Dinner-Monday'
        'Day-Tuesday Open-Tuesday Dinner-Tuesday'
        'Day-Wednesday Open-Wednesday Dinner-Wednesday'
        'Day-Thursday Open-Thursday Dinner-Thursday'
        'Day-Friday Open-Friday Dinner-Friday'
        'Day-Saturday Open-Saturday Dinner-Saturday'
        'Day-Sunday Open-Sunday Dinner-Sunday';
    grid-template-rows: 3.4rem 3.4rem 3.4rem 3.4rem 3.4rem 3.4rem 3.4rem 3.4rem;
    grid-template-columns: 23.3rem 23.3rem 23.3rem;
    grid-gap: 0rem;
}
.Day{
    grid-area: Day;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-right: 1px solid #ececec;
}
.Open{
    grid-area: Open;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Dinner{
    grid-area: Dinner;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Day-Monday{
    grid-area: Day-Monday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Day-Tuesday{
    grid-area: Day-Tuesday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Day-Wednesday{
    grid-area: Day-Wednesday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Day-Thursday{
    grid-area: Day-Thursday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Day-Friday{
    grid-area: Day-Friday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Day-Saturday{
    grid-area: Day-Saturday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Day-Sunday{
    grid-area: Day-Sunday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #ececec;
}
.Open-Monday{
    grid-area: Open-Monday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Open-Tuesday{
    grid-area: Open-Tuesday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Open-Wednesday{
    grid-area: Open-Wednesday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Open-Thursday{
    grid-area: Open-Thursday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Open-Friday{
    grid-area: Open-Friday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Open-Saturday{
    grid-area: Open-Saturday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Open-Sunday{
    grid-area: Open-Sunday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.Dinner-Monday{
    grid-area: Dinner-Monday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Dinner-Tuesday{
    grid-area: Dinner-Tuesday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Dinner-Wednesday{
    grid-area: Dinner-Wednesday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Dinner-Thursday{
    grid-area: Dinner-Thursday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Dinner-Friday{
    grid-area: Dinner-Friday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Dinner-Saturday{
    grid-area: Dinner-Saturday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
}
.Dinner-Sunday{
    grid-area: Dinner-Sunday;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
    border-top: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.Day-P{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}
.Open-P{
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
}
.Dinner-P{
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
}
.Day-Saturday-P{
    color: blue;
}
.Day-Sunday-P{
    color: red;
}
.Open-Saturday{
    color: blue;
}
.Open-Sunday-P{
    color: red;
}
.Dinner-Saturday{
    color: blue;
}
.Dinner-Sunday-P{
    color: red;
}
/*----- /MODE -----*/



/*----- WORK -----*/
.WRAP-WORK{
    padding: var(--padding);
    width: var(--width-rows);
    max-width: var(--max-width);
    height: auto;
    min-height: 61.0rem;
    background-image: url(graph/background30.png);
}
.WORK{
    width: 100%;
    height: auto;
}
.WORK-H2-STRONG{
    font-family: 'Montserrat', sans-serif;
    font-size: 4.0rem;
    font-weight: 500;
    line-height: normal;
    color: #333;
    word-break: break-word;
}
.WORK-DIV{
    width: auto;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.WORK-DIV>div{
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-align: center;
}
.WORK-DIV-1-SVG,
.WORK-DIV-2-SVG,
.WORK-DIV-3-SVG,
.WORK-DIV-4-SVG,
.WORK-DIV-5-SVG,
.WORK-DIV-6-SVG{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 13rem;
    height: 13rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #3caaf7;
}
.SVG-CUP,
.SVG-PERSONAL,
.SVG-COMMENTS,
.SVG-ROUBLE,
.SVG-DOCUMENTS,
.SVG-SERVICES{
    width: 8rem;
    height: 8rem;
    color: #3caaf7;
}
.WORK-DIV-1-H6,
.WORK-DIV-2-H6,
.WORK-DIV-3-H6,
.WORK-DIV-4-H6,
.WORK-DIV-5-H6,
.WORK-DIV-6-H6{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.WORK-DIV-1-P,
.WORK-DIV-2-P,
.WORK-DIV-3-P,
.WORK-DIV-4-P,
.WORK-DIV-5-P,
.WORK-DIV-6-P{
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
}
/*----- /WORK -----*/



/*----- NEWS -----*/
.WRAP-NEWS{
    padding: var(--padding);
    width: var(--width-rows);
    max-width: var(--max-width);
    height: auto;
    min-height: 61.0rem;
}
.NEWS{
    width: 100%;
    height: auto;
}
.NEWS-H2-STRONG{
    font-family: 'Montserrat', sans-serif;
    font-size: 4.0rem;
    font-weight: 500;
    line-height: normal;
    color: #333;
    word-break: break-word;
}
.NEWS-DIV{
    width: auto;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.NEWS-DIV>div{
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-align: center;
}
.NEWS-DIV-1-IMG,
.NEWS-DIV-2-IMG,
.NEWS-DIV-3-IMG,
.NEWS-DIV-4-IMG,
.NEWS-DIV-5-IMG,
.NEWS-DIV-6-IMG{
    width: 100%;
    height: 23.3rem;
    justify-content: center;
    align-items: center;
}
.NEWS-DIV-1-IMG>img,
.NEWS-DIV-2-IMG>img,
.NEWS-DIV-3-IMG>img,
.NEWS-DIV-4-IMG>img,
.NEWS-DIV-5-IMG>img,
.NEWS-DIV-6-IMG>img{
    width: 100%;
    height: 100%;
}
.NEWS-DIV-1-H6,
.NEWS-DIV-2-H6,
.NEWS-DIV-3-H6,
.NEWS-DIV-4-H6,
.NEWS-DIV-5-H6,
.NEWS-DIV-6-H6{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.NEWS-DIV-1-P,
.NEWS-DIV-2-P,
.NEWS-DIV-3-P,
.NEWS-DIV-4-P,
.NEWS-DIV-5-P,
.NEWS-DIV-6-P{
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
}
/*----- /WORK -----*/



/*----- INFO -----*/
.WRAP-INFO{
    padding: var(--padding);
    width: var(--width-rows);
    max-width: var(--max-width);
    height: auto;
    min-height: 61.0rem;
    background-image: url(graph/background30.png);
}
.INFO-DIV{
    flex-direction: row;
}
.INFO-DIV-1{
    width: 38%;
    height: auto;
}
.INFO-DIV-2{
    width: 62%;
    height: auto;
    margin-left: 3rem;
}
.INFO-DIV-1>img{
    width: 100%;
    height: 100%;
}
.INFO-H2-STRONG{
    font-family: 'Montserrat', sans-serif;
    font-size: 4.0rem;
    font-weight: 500;
    line-height: normal;
    color: #333;
    word-break: break-word;
}
.INFO-DIV-2-P{
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    color: #333;
    word-break: break-word;
}
/*----- /INFO -----*/



/*----- MOTIVATION -----*/
.WRAP-MOTIVATION{
    padding: var(--padding);
    width: var(--width-rows);
    max-width: var(--max-width);
    height: auto;
    min-height: 61.0rem;
}
.MOTIVATION{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.MOTIVATION-H2-STRONG{
    font-family: 'Montserrat', sans-serif;
    font-size: 4.0rem;
    font-weight: 500;
    line-height: normal;
    color: #333;
    word-break: break-word;
}
.MOTIVATION-P{
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #333;
    word-break: break-word;
}
.MOTIVATION-DIV{
    width: auto;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}
.MOTIVATION-DIV>div{
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    background: rgb(29, 145, 145);
}
.MOTIVATION-DIV-1>img,
.MOTIVATION-DIV-2>img,
.MOTIVATION-DIV-3>img,
.MOTIVATION-DIV-4>img,
.MOTIVATION-DIV-5>img,
.MOTIVATION-DIV-6>img{
    width: 100%;
    height: 100%;
}
/*----- /MOTIVATION -----*/



/*----- CONTACTS -----*/
.WRAP-CONTACTS{
    padding: var(--padding);
    width: var(--width-rows);
    max-width: var(--max-width);
    height: auto;
    min-height: 61.0rem;
    background-image: url(graph/background30.png);
}
.CONTACTS{
    width: 100%;
    height: 100%;
    min-height: 61.0rem;
}
.CONTACTS-H2-STRONG{
    font-family: 'Montserrat', sans-serif;
    font-size: 4.0rem;
    font-weight: 500;
    line-height: normal;
    color: #333;
    word-break: break-word;
}
.CONTACTS-INFO{
    width: 100%;
    height: 100%;
    flex-direction: row;
}
.CONTACTS-MAP{
    width: 62%;
    height: 61rem;
    min-height: 61.0rem;
}
.CONTACTS-CONNECTION{
    width: 38%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}
.CONTACTS-CONNECTION-H6{
    margin-left: 2rem;
}
.CONTACTS-CONNECTION-UL{
    flex-direction: column;
}
.CONTACTS-CONNECTION-UL-LI{
    margin-left: 4rem;
    margin-right: 4rem;
    display: list-item;
    list-style-type: disc;
    font-size: 1.7rem;
}
.CONTACTS-CONNECTION-UL-LI-P{
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: 300;
    color: #333;
}
.CONTACTS-CONNECTION-P{
    margin-left: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0rem;
    font-weight: 300;
    color: #333;
}
.CONTACTS-CONNECTION-SVG{
    margin-left: 2rem;
    flex-direction: row;
}
.SVG-VK,
.SVG-INSTAGRAM,
.SVG-WHATSAPP,
.SVG-TELEGRAM{
    margin-right: 0.5rem;
    width: 3rem;
    height: 3rem;
}
/*----- /CONTACTS -----*/



/*----- FOOTER -----*/
.WRAP-FOOTER{
    width: var(--width-rows);
    height: 14.4rem;
    justify-content: center;
    align-items: center;
    background-image: url(graph/background30.png);
}
.FOOTER-DIV-1{
    width: 13rem;
    height: 100%;
}
.FOOTER-DIV-2{
    justify-content: center;
    align-items: center;
}
.FOOTER-DIV-1-IMG{
    width: 8rem;
    height: 8rem;
}
.FOOTER-DIV-2-P-1,
.FOOTER-DIV-2-P-2{
    width: auto;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.0rem;
    font-weight: 300;
    color: #333;
}
/*----- /FOOTER -----*/





/*----- BUTTON-TOP -----*/
.BUTTON-TOP{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}
.SVG-UP{
    width: 100px;
    height: 100px;
    color: #339966;
}
.SVG-UP:hover{
    background-color: #beddca;
}
/*----- /BUTTON-TOP -----*/